* {
  font-family: 'Roboto Mono', monospace, Arial, sans-serif;
}

body {
  background-image: url(../img/bg.jpg);
  background-size: cover; 
  max-width: 1200px;
  min-height: 100%;
  margin: 5px auto;
}

main {
  width: 95%;
  margin: 0 auto;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* -----------------------------header----------------- */

header {
  display: flex;
  width: 95%;
  padding: 0 2.5% ;
}

h1 {
  display: inline-block;
  position: relative;
  bottom: 25%;
  left: 5%;
  font-family: 'Zen Tokyo Zoo';
  font-weight: 300;
  font-size: 50px;
  margin: 10px 0;
}

.header-logo {
  width: 65%;
  text-align: right;
}
.logo-img {
  width: 12%;
  margin:0 30px 0 20px;
}

.time {
  display: block;
  width: 35%;
  text-align: left;
  position: relative;
  top: 90px;
}
 .header-info {
  width: 30%;
  padding: 2% 0 0 0;
  text-align: right;
}

.user-default-img {
  width: 45px;
  opacity: 90%;
  margin-right: 5%;
  border-radius: 15px;
}
.user-nickname {
  display: block;
  cursor: pointer;
  font-style: italic;
}
.log-out {
  background-color: #ffdcc5;
  border: none;
  padding: 5px;
  position: relative;
  top: 11%;
  right: 3%;
  font-size: 12px;
  display: inline-block;
  color: #000;
  cursor: pointer;
}

.log-out:hover {
  background-color:#f8caab ;
}

/* -----------------------------chat online----------------- */ 

.chat-elements {
  display: flex;
  padding: 0 2.5%;
}

.online-block {
  width: 25%;
  padding: 1%;
  border: 1px solid #da7c0a;
  border-radius: 10px;
  text-align: center;
}
.user-name {
  cursor: pointer;
  font-style: italic;
}
.on-offline-users {
  text-align: left;
  min-height: 170px;
  margin-bottom: 13px;
  margin: 10px 0;
}

.on-offline-list {
  padding-left: 10px;
}
.on-offline-list li{
  margin: 5px ;
  list-style-type:none;
}

#online-list li::before{
  content:'►';
  color: #009700;
  margin-right:8px;
}

#offline-list li::before{
  content:'►';
  color: #ca0303;
  margin-right:8px;
}

.online {
  border-bottom: 2px solid #009700;
}

.offline {
  border-bottom: 2px solid #ca0303;
}

.avatar {
  width: 35px;
  margin-right: 5px;
  position: relative;
  top: 10px;
  border-radius: 15px;
}

.add-scroll {
  overflow-y: scroll;
  height: 240px;
  cursor: pointer;
}
.add-scroll::-webkit-scrollbar {
  width: 7px;
  background-color: #fff;
}
.add-scroll::-webkit-scrollbar-thumb {
  background-color: #f5a843;
}

.add-scroll-small {
  overflow-y: scroll;
  height: 145px;
  cursor: pointer;
}

.add-scroll-small::-webkit-scrollbar {
  width: 7px;
  background-color: #fff;
}
.add-scroll-small::-webkit-scrollbar-thumb {
  background-color: #f5a843;
}


 /* -------------------------------main chat-------------- */
.main-chat {
  width: 70%;
  padding:0 1%;
}
#main-chat {
  margin: 5px 0 5px 15px;
  padding: 5px 10px;
  background-color: #f8bf75;
  display: inline-block;
  cursor: pointer;
}

.chat-name {
  display: inline-block;
  margin: 5px;
  background-color:#ffdcc5;
  padding: 3px;
  cursor: pointer;
}

#main-chat:hover {
  background-color: #f5a843;
}

.conversation {
  min-height: 250px;
  padding: 1%;
  margin-bottom: 5px;
}

.conversation p {
  margin: 10px 0;
}

.message-box {
  display: flex;
  flex-direction: column;
  /* overflow-x:hidden ; */
}

.user-message {
  display: flex;
  justify-content: space-between;
  
}

.message-username {
  width: 20%;
  font-weight: 600;
  font-style: italic;
  overflow: hidden;
  padding: 5px 0;
  margin: 0;
}
.message-text {
  display: block;
  padding-left: 5px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 0 5px 3px;
  margin: 0;
}
.message-time {
  font-size: 10px;
  display: block;
  width: 23%;
  text-align: right;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 5px 5px 0;
 
}
 /* ----------------------------writing message--------- */
.write-a-message {
  padding-top: 10px;
  border-top: 1px solid #000;
}

.text-of-message {
  width: 95%;
  height: 70px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #fff;
  overflow-y: scroll;
}

div[contentEditable] {
  outline: none;
}

.change-send-message {
  text-align: center;
  padding-top: 5px
}

.message-info {
  font-size: 13px;
}

.message-info ul {
  list-style-type: none;
  margin: 5px 0;
}

.edit-message-btn {
  cursor: pointer;
  border: none;
  background-color:#f8bf75 ;
  padding: 5px 10px;
  margin-right: 3px;
}

.edit-message-btn:hover {
  background-color: #f5a843;
}

#no-effects {
  background-color: #d4d0cd;
}

#no-effects:hover {
  background-color: #b3b2b2;
}

.send-btn {
  cursor: pointer;
  border: none;
  background-color: #f8bf75;
  padding: 10px 15px;
  font-size: 15px;
  margin-left: 35%;
}

.send-btn:hover {
  background-color: #f5a843;
  color: #fff;
}

/* -----------------------------------footer-------- */

footer {
  flex: 0 0 auto;
  width: 100%;
 padding: 5px 5% 0 5%;
}
.footer-info {
  width: 45%;
  display: inline-block;
}

.footer-info p {
  margin: 0;
}
.footer-info a {
  color: #000;
 }

.time-online, .time-local {
  font-style: italic;
}

.made-by {
  display: inline-block;
  width: 45%;
  text-align: right;
}
.made-by p {
  margin: 0;
}
